.leaderboard-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    color: black; 
}

.leaderboard-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: -95px;
}

.leaderboard-table {
    width: 80%;
    max-width: 1000px;
    border-collapse: collapse;
    font-size: 20px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.leaderboard-table th {
    background-color: white;
    font-weight: bold;
    color: black;
}

.leaderboard-table th svg {
    margin-right: 5px;
}

/* Style for First Page - Top 3 Players */
.gold td {
    color: #FFD700; 
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.6);
}

.silver td {
    color: #C0C0C0;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(192, 192, 192, 0.6);
}

.bronze td {
    color: #CD7F32;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(205, 127, 50, 0.6);
}

/* Hover Effect */
.leaderboard-table tr:hover {
    background-color: #f1f1f1;
}

/* Pagination */
.pagination {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.arrow-button {
    background-color: #EBA22C;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrow-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.arrow-button:hover:not(:disabled) {
    background-color: #EBA22C;
}

.pagination span {
    font-size: 16px;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .leaderboard-table {
        width: 95%;
    }

    .leaderboard-title {
        font-size: 22px;
    }

    .leaderboard-table th,
    .leaderboard-table td {
        font-size: 16px;
        padding: 10px;
    }
}
