.container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background-color: #fff;
  }
  
  .split-container {
    display: flex;
    width: 100%;
    height: 37rem;
  }
  
  .left-panel {
    background-color: #efececad;
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px;
  }
  
  .right-panel {
    display: flex;
    flex-direction: column;
  }
  
  .code-section, .test-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .code-section {
    background-color: #fff;
  }
  
  .test-section {
    background-color: #eaeaea;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 32px; /* Fixed height */
    flex-shrink: 0;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
  }
  
  select.language-select, .button-submit {
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-submit {
    background-color: #EBA22C;
    color: white;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #eba22cd6;
  }
  
  
  pre {
    white-space: pre-wrap;
  }
  
  /* Fix cursor visibility */
  .monaco-editor .cursor {
    background-color: black !important;
    width: 2px;
  }
  
  /* Ensure selections are visible */
  .monaco-editor .selected-text {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
 /* Horizontal Gutter (Left-Right Split) */
.gutter-horizontal {
  background-color: #d2d2d2;
  width: 5px; /* Reduced size */
  cursor: col-resize;
}

/* Vertical Gutter (Top-Bottom Split) */
.gutter-vertical {
  background-color: #cacaca;
  height: 5px; /* Reduced size */
  cursor: row-resize;
}

/* Optional Hover Effect */
.gutter-horizontal:hover, .gutter-vertical:hover {
  background-color: #999;
}


