/* HomePage.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: black;
}

.logo {
  width: 400px;
  height: auto;
}

.sub-heading {
  font-size: 4rem;
  font-weight: 600;
}

.text {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
}

.button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: orange;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #ff8c00;
}