@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; 
  background-image: url('/src/Assets/background.png'); 
  background-position: center 50px;
  background-size: 20%;
  background-repeat: no-repeat;
  background-blend-mode: multiply; 
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.hero-content {
  max-width: 600px;
}

.hero-subtitle {
  font-size: 70px;
  font-weight: bold;
  color: #000000;
  margin-top: 200px;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
}

.hero-description {
  font-size: 20px;
  color: #0000008e;
  font-weight: lighter;
  margin-top: -13px;
  letter-spacing: 5px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
}


.hero-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(90deg, #ffbb47f1, #ffbb47f1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

.hero-button:hover {
  background: linear-gradient(90deg, #ff5722, #e94560);
}

.arrow {
  margin-left: 8px;
}
